* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(9, 39, 96);
}

.flag {
    height: 40px;
    padding-left: 20px;
    padding-top: 8px;
}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 300px;
    align-items: center;
}

.search-button {
    height: 36px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(207, 205, 205);
    margin-left: -4px;
}

.search-icon {
    height: 20px;
    margin-top: 4px;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 8px;
    font-size: 16px;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 2px;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.search-bar::placeholder {
    font-family: Arial;
    font-size: 16px;
}
.right-section .main-nav .nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 15px;
}

.right-nav li ul,
.right-nav a {
    list-style: none;
    text-decoration: none;
}

.nav-menu li {
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(9,39,96);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    list-style: none;
    min-width: 120px;
    z-index: 10;
}

.dropdown-content li,
.abc {
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul li a:link{
    padding:0;
}


.dropdown-content li a {
    display:block;
    padding: 10px;
    color: white;
    text-decoration: none;
    white-space:nowrap;
}
.dropdown-content li a:hover{
    background-color: rgb(0,90,200);
}
.main-nav .dropdown:hover .dropdown-content {
    display: block;
}

.main-nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: rgb(0, 229, 88);
}

nav ul li a:active,
.main-nav ul li a:hover {
    color: rgb(0, 229, 88);
}

.main-nav ul li a:active {
    color: rgb(229, 0, 179);
}

.nav-menu {
    list-style: none;
}